<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <style>
      input.required, error {
        border: 2px solid red;
      }
    </style>

{% block content_header %}
  <header>
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">CLEI</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" role="navigation">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">sdad</a></li>
          <li><a href="#">Acerca de</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"  >Ediciones pasadas <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="http://clei2013.org.ve/">2013</a></li>
              <li><a href="http://clei.org/clei2012/">2012</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/accounts/login">Iniciar Sesion</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
  </header>
  {% endblock %}

    <title>{% block title %}Tagging Exploration{% endblock %}</title>
</head>

<body>
  <center>
    <div id="sidebar">
      {% block sidebar %}{% endblock %}
    </div>

    <div id="content">
      {% block content %}{% endblock %}
      {% block main_content %}{% endblock %}
    </div>
  </center>
</body>
</html>
