{% extends "registration/base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}
  <head>
    <title>CLEI</title>
    {% load staticfiles%}
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="{{STATIC_URL}}img/logo.jpg">
     <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css"/>
     <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap-responsive.min.css"/>
     <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
  </head>

    <h1>Iniciar Sesion</h1>

    {% if form.errors %}
    <p class="error">Por favor corrija los siguientes errores:</p>
    {% endif %}

    <form method="post" action="?next={{ next|default:"/" }}">{% csrf_token %}
      <dl>
        <dt><label for="id_username">Usuario:</label>{% if form.username.errors %} <span class="error">{{ form.username.errors|join:", " }}</span>{% endif %}</dt>
        <dd>{{ form.username }}</dd>
        <dt><label for="id_password">Clave:</label>{% if form.password.errors %} <span class="error">{{ form.password.errors|join:", " }}</span>{% endif %}</dt>
        <dd>{{ form.password }}</dd>
        <dt><input style="margin-top:17px" type="submit" value="Iniciar Sesion" /></dt>
      </dl>
    </form>

    <p> Si no posee cuenta,puede <a href="/accounts/register/">registrarse
        </a> aqui.
    {% endblock %}
