{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content%}
<ul>
    <table class="table table-stripped" style="width: 50%"><tbody>
        <th style="text-align: left">
            Numero de articulos a aceptar: 10
        </th>
        <tr style="text-align: center">
            <td>
1- Titulo: "Todo el poder de las maquinas", por "Alan Turing", Nota: "5.0"
            </td>
        </tr>
        <tr style="text-align: center">
            <td>
2- Titulo: "Bares y bebidas", por "Luis Perez", Nota: "4.86"
            </td>
        </tr>
        <tr style="text-align: center">
            <td>
3- Titulo: "El hombre en la antiguedad", por "Maria Jimenez", Nota: "4.56"
            </td>
        </tr>
        <tr style="text-align: center">
            <td>
4- Titulo: "Arboles y recorridos", por "Edward Weiss", Nota: "4.32"
            </td>
        </tr>
        <tr style="text-align: center">
            <td>
5- Titulo: "America y sus secretos", por "Eduardo Nevado", Nota: "4.12"
            </td>
        </tr>
        <tr style="text-align: center">
            <td>
6- Titulo: "Catedrales y religion", por "Cristiano Da Silva", Nota: "3.75"
            </td>
        </tr>
        <tr style="text-align: center">
            <td>
7- Titulo: "El gorgojo en America", por "Edna Ruckhaus", Nota: "3.50"
            </td>
        </tr>
        <tr style="text-align: center">
            <td>
8- Titulo: "La Politica en Venezuela", por "Pedro Hernandez", Nota: "3.23"
            </td>
        </tr>
        <tr style="text-align: center">
            <td>
9- Titulo: "Alquimia y la vida eterna", por "Nicolas Flamel", Nota: "2.91"
            </td>
        </tr>
        <tr style="text-align: center">
            <td>
10- Titulo: "La bisexualidad", por "Katherine Perri", Nota: "2.56
            </td>
        </tr>
        </tbody>
    </table>
</ul>
{%endblock%}