{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content%}
<ul>
    <table class="table table-stripped" style="width: 50%"><tbody>
        <th style="text-align: left">
            Numero de paises: 3
        </th>
        <tr style="text-align: left">
            <td>
                Escoger el 80% de articulos por pais
            </td>
        </tr>
        <tr style="text-align: right">
            <td>
                Pais: Colombia
            </td>
        </tr>
        <tr style="text-align: center">
            <td>
                1- Titulo: "Cambiando paradigmas de ayer y hoy", por "Edwin Paz","Maria Rojas" Nota: "4.00"
            </td>
        </tr>
        <tr style="text-align: center">
            <td>
                2- Titulo: "El nuevo iPad", por "Manely Spears", Nota: "4.00"
            </td>
        </tr>
        <tr style="text-align: right">
            <td>
                Pais: Paraguay
            </td>
        </tr>
        <tr style="text-align: center">
            <td>
                1- Titulo: "La belleza de la pc", por "Luz Meiber", Nota: "3.78"
            </td>
        </tr>
        <tr style="text-align: right">
            <td>
                Pais: Venezuela
            </td>
        </tr>
        <tr style="text-align: center">
            <td>
                1- Titulo: "Bares y bebidas", por "Luis Perez", Nota: "4.86"
            </td>
        </tr>
        <tr style="text-align: center">
            <td>
                2- Titulo: "Fronteras tecnologicas", por "Carlos Cruz", Nota: "4.70"
            </td>
        </tr>
    </tbody>
    </table>
</ul>
{%endblock%}