{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content%}
<ul>
    <table class="table table-stripped" style="width: 50%"><tbody>
        <th style="text-align: left">
            Número de Tópicos: 3
        </th>
        <tr style="text-align: right">
            <td>
                Tópico: Bases de Datos
            </td>
        </tr>
        <tr style="text-align: center">
            <td>
                "El gorgojo en America"
            </td>
        </tr>
        <tr style="text-align: center">
            <td>
                "El hombre en la antiguedad"
            </td>
        </tr>
        <tr style="text-align: right">
            <td>
                Tópico: Inteligencia Artificial
            </td>
        </tr>
        <tr style="text-align: center">
            <td>
                "Todo el poder de las maquinas"
            </td>
        </tr>
        <tr style="text-align: center">
            <td>
                "America y sus secretos"
            </td>
        </tr>
        <tr style="text-align: right">
            <td>
                Tópico: Algoritmos
            </td>
        </tr>
        <tr style="text-align: center">
            <td>
                "Arboles y sus recorridos"
            </td>
        </tr>
        <tr style="text-align: center">
            <td>
                "America y sus secretos"
            </td>
        </tr>
        </tbody>
    </table>
</ul>
{%endblock%}