{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content%}

<table class="fondo" >
    <form method="POST">
        {% csrf_token %}
        <th style="text-align: center;">
        <h3>
            Actualización de CLEI
        </h3>
        </th>
        <tbody>
            <tr>
                <td>
        {{form|crispy}}
                </td>
            </tr>
            <tr>
                <td style="text-align: center;">
        <input type="submit" class="btn btn-info" value="Actualizar" />
                </td>
            </tr>
    </tbody>
</table>
</form>

{%endblock%}
