{% load crispy_forms_tags %}
<!DOCTYPE html>
<html  lang="{{ LANGUAGE_CODE|default:"es" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
  <head>
    <title>CLEI</title>
    {% load staticfiles%}
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="{{STATIC_URL}}img/logo.jpg">
     <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css"/>
     <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap-responsive.min.css"/>
     <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/estilos.css"/>
     <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/datepicker.css"/>
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
     <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
     <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap-datepicker.js"></script>
     <script type="text/javascript">
       $(function() {
       $('.datetimeinput').datepicker({
       format: 'yyyy-mm-dd'
       });
       });
     </script>
  </head>

<body>
  <header>
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">CLEI</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" role="navigation">
        <ul class="nav navbar-nav">
          <li><a href="#">Acerca de</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="{{ actual.get_absolute_url }}">Edición Actual <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{{ actual.get_absolute_url }}">Información</a></li>
              <li><a href="{% url "clei_articulo_create" actual.pk %}">Envíar Artículo</a></li>
              <li>
                {% if not inscrito %}
                <a href="{% url "clei_inscripcion_create" actual.pk %}">Inscribirse</a>
                {% else %}
                <a href="#"><strong>Inscrito!</strong></a>
                {% endif %}
              </li>
            </ul>

          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"  >Ediciones pasadas <b class="caret"></b></a>
            <ul class="dropdown-menu">
              {% for clei in cleis %}
              <li><a href="{{ clei.get_absolute_url }}">{{ clei }}</a></li>
              {% endfor %}
            </ul>
          </li>
          {% if user.is_superuser %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="margin-right:-0.5px">Opciones del CLEI <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url "clei_list" %}">Ver listado de CLEI</a></li>
              <li><a href="{% url "clei_create" %}"> Crear Nuevo CLEI</a></li>
              <li><a href="{% url "clei_topico_list" %}">Ver listado de Topicos</a></li>
              <li><a href="{% url "clei_topico_create" %}">Crear topico</a></li>
              <Li><a href="/">Crear CP</a></li>
              <Li><a href="/">Seleccionar Miembros CP</a></li>
            </ul>
          </li>
          {% endif %}

        </ul>
        {% if user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle nav navbar-nav navbar-right" data-toggle="dropdown"  >{{user.username}} <b class="caret"></b></a>
            <ul class="dropdown-menu  nav navbar-nav navbar-right">
              <li><a href="/">Mi Perfil</a></li>
              <li><a href="/accounts/logout"> Cerrar sesion</a></li>
            </ul>
          </li>
        </ul>
        {% endif %}
        {% if not user.is_authenticated%}
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/accounts/login">Iniciar Sesion</a></li>
        </ul>
        {% endif %}
      </div><!-- /.navbar-collapse -->
    </nav>
  </header>
  <div class="container">
{% if messages %}
{% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
{% endif %}
{% block content%}
  {%endblock%}
    </div>
</body>





</html>
