<!DOCTYPE html>
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content%}

<table border="0" class="fondo" style="width: 35%">
    <form action="/clei/topicos/create/" method="POST">
        {% csrf_token %}
        <th colspan="2" style="text-align: center;">
            <h3> Creación de Tópicos <h3>
        </th>    
        </tr>
        <tr style="width: 10%;">
            <td colspan="2">
                {{form|crispy}}
            </td>
        </tr>
        <tr colspan="2" style="text-align: center;">
            <td>
                <input type="submit" class="btn btn-info" value="Crear Tópico" />
            </td>
        </tr>
        <tr>
            <td>
                <br>
            </td>
        </tr>
    </form>
</table>

{%endblock%}
