{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content%}
<ul>
    <table class="table table-stripped" style="width: 50%">
    {% for topico in object_list %}
    <tr>
        <td style="text-align: center;">
        <text style="text-align: center;"><a href="{% url "clei_topico_update" topico.pk %}">{{ topico }}</a></text>
        </td>
    <tr>
    {% empty %}
    No existe ningún Topico
    {% endfor %}
    <tr>
        <td style="text-align: center;">
            <button class="btn btn-default"><a href="{% url "clei_topico_create" %}">Crear Topico</a></button>
        </td>
    </tr>
    </table>
</ul>
{%endblock%}
