{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content%}
<ul>
    <table class="table table-stripped" style="width: 50%"><tbody>
        <th style="text-align: left">
            Gestion de articulos
        </th>
        <tr style="text-align: left">
            <td>
                Numero de articulos a aceptar
            </td>
        </tr>
        <tr style="text-align: center">
            <td>
                <textarea/>
            </td>
        </tr>
        <tr style="text-align: center">
            <td>
                <button class="btn btn-info"> <a href="respuestas/nporpais.html">Por pais</a> </button>
            </td>
        </tr>
        <tr style="text-align: center">
            <td>
                <button class="btn btn-info"> <a href="respuestas/mayoramenor.html">Ordenar por nota</a> </button>
            </td>
        </tr>
        <tr><td><br></td></tr>
        <tr style="text-align: center">
            <td>
                <button class="btn btn-info"> <a href="repuestas/topicos.html">Ordenar por topicos</a> </button>
            </td>
        </tr>
        
        <tr><td><br></td></tr>
        <tr style="text-align: center">
            <td>
                <button class="btn btn-info"> <a href="repuestas/proporcionPais.html">Proporcion por pais</a> </button>
            </td>
        </tr>
        
        <tr><td><br></td></tr>
        <tr>
            <td>
                Nota:
            </td>
        </tr>
        <tr style="text-align: center">
            <td>
                <textarea/>
            </td>
        </tr>
        <tr style="text-align: center">
            <td>
                <button class="btn btn-info"> <a href="respuestas/notaNsuperior.html">Mayores a nota definida</a> </button>
            </td>
        </tr>
    </table>
</ul>
{%endblock%}